{
  "extends": "hexo",
  "root": true,
  "rules": {
    "strict": "off",
    "node/no-unpublished-require": "off"
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}