// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
bg-dark = #343a40
color-default = #355265
color-gray = #999
color-border = #e3e3e3
color-white = hsl(0, 0%, 100%)
color-link = #328ac1
color-link-hover = lighten(color-link, 15%)

// Typography
font-sans = "Open Sans", sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "CutiveMono", monospace
font-title = Lato, font-sans
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 220px
mobile-nav-width = 260px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
