layout: index
description: Rust Programming Language Tutorials for Everyone.
subtitle: Learning Rust
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-street-view
      h3.intro-feature-title
        a(href='/docs/a1.why_rust.html') Basics
      p.intro-feature-desc Installation, Hello World, Cargo, Crates, Variable bindings, Functions, Primitive Data Types, Operators & Control Flows.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-road
      h3.intro-feature-title
        a(href='/docs/b1.vectors.html') Beyond the Basics
      p.intro-feature-desc Vectors, Structs, Enums, Generics, Impls & Traits.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plane
      h3.intro-feature-title
        a(href='/docs/c1.ownership.html') The Tough Part
      p.intro-feature-desc Ownership, Borrowing, Lifetimes & Lifetime Elision.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title
        a(href='/docs/d1.code_organization.html') Let's Get It Started
      p.intro-feature-desc Modules, Crates, Workspaces, std modules and Preludes.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-user-astronaut
      h3.intro-feature-title
        a(href='/docs/e1.smart_compiler.html') Error Handling
      p.intro-feature-desc Smart compiler, Panicking, Option & Result, Unwrap & Expect, Error & None propagation, Combinators and Custom Error Types.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-meteor
      h3.intro-feature-title
        a(href='#') Stay tuned!
      p.intro-feature-desc More things are coming in 2019. Stay in touch!
