layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Learning Rust
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-street-view
      h3.intro-feature-title
        a(href='/docs/a1.why_rust.html') Basics
      p.intro-feature-desc Installation, Hello World, Cargo, Crates, Variable bindings, Functions, Primitive Data Types, Operators & Control Flows.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-road
      h3.intro-feature-title
        a(href='/docs/b1.vectors.html') Beyond the Basics
      p.intro-feature-desc Vectors, Structs, Enums, Generics, Impls & Traits.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plane
      h3.intro-feature-title
        a(href='/docs/c1.ownership.html') The Tough Part
      p.intro-feature-desc Ownership, Borrowing, Lifetimes & Lifetime Elision.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title
        a(href='/docs/d1.code_organization.html') Let's Get It Started
      p.intro-feature-desc Modules, Crates, Workspaces, std modules and Preludes.
