layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: A fast, simple & powerful blog framework
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc Node.js brings you incredible generating speed. Hundreds of files take only seconds to build.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Markdown Support
      p.intro-feature-desc All features of GitHub Flavored Markdown are supported. You can even use most Octopress plugins in Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title One-Command Deployment
      p.intro-feature-desc You only need one command to deploy your site to GitHub Pages, Heroku or other sites.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Various Plugins
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
