layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Learning Rust
lang: zh-cn
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-street-view
      h3.intro-feature-title
        a(href='/docs/zh-cn/a1.why_rust.html') 基础知识
      p.intro-feature-desc 如何安装，Hello World，Cargo，Crates，变量绑定，函数，原生数据类型，操作与控制流。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-road
      h3.intro-feature-title
        a(href='/docs/zh-cn/b1.vectors.html') 基础之上
      p.intro-feature-desc Vectors，结构体（Structs），枚举（Enums），范型（Generics），特性与特性实现（Impls & Traits）。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plane
      h3.intro-feature-title
        a(href='/docs/zh-cn/c1.ownership.html') 难啃的部分
      p.intro-feature-desc 所有权（Ownership），所有权借用（Borrowing），生存期与生存期省略（Lifetimes & Lifetime Elision）。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title
        a(href='/docs/zh-cn/d1.code_organization.html') 开始你的项目
      p.intro-feature-desc 模块（Modules），代码箱（Crates），工作区（Workspaces），标准模块（std module）和预设上下文（Preludes）。
